
@media only screen and (max-width: 350px) {
    .mainbody{
        display: none;
    }
    .maincontent{
        display: flex;
    }
  }

@media only screen and (min-width: 551px){
    .maincontent{
        display: none;
    }
    .mainbody{
        display: flex;
    }
} 

 @media only screen and (max-width: 600px) {
    .maincontent{
        display: flex;
    }
    .mainbody{
        display: none;
    }
  }
